#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// Dialog
IDD_MMAIN DIALOG 0, 0, 223, 228
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Native Mahou"
FONT 8, "Segoe UI"
{
    PUSHBUTTON      "Reset", 9, 132, 212, 89, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Save", 3, 1, 212, 90, 14, 0, WS_EX_LEFT
    EDITTEXT        7, 1, 0, 220, 210, WS_VSCROLL | ES_AUTOHSCROLL | ES_MULTILINE | ES_WANTRETURN, WS_EX_LEFT
}
// Icon
IDI_NMICON        ICON           "NMahou.ico"
// Manifest
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "Application.manifest"
// Tray Menu
IDM_TRAYMENU MENU 
BEGIN
    POPUP "Tray menu"
    BEGIN
        MENUITEM "Show/Hide",                  IDM_TOGGLE
        MENUITEM "E&xit",                      IDM_EXIT
    END
END